@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vybe Check</h1>
    <p>What's your vibe?</p>
    <div>
        <a class="btn btn-sm btn-primary" href="/account/register">Register</a>
        <a class="btn btn-sm btn-primary" href="/account/login">Login</a>
    </div>
</div>
