@model AlbumViewModel

@{
    ViewData["Title"] = "Enter a New Album";
}

<h1>New Album</h1>

<form asp-controller="Vybe" asp-action="CreateAlbum" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Title:</label>
        <input asp-for="Title" class="form-control" />
        <span class="form-text text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Artist" class="form-label">Artist:</label>
        <input asp-for="Artist" class="form-control" />
        <span class="form-text text-danger" asp-validation-for="Artist"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description (optional):</label>
        <input asp-for="Description" class="form-control" />
        <span class="form-text text-danger" asp-validation-for="Description"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>