@{
    ViewData["Title"] = "Unauthorized";
}

<h1>401 Unauthorized</h1>
<p class="lead">You must be logged in to view this resource.</p>
<a href="/account/login" class="btn btn-primary">Go to Login</a>
<div class="text-end"><a href="/" class="btn btn-primary">Back to Home</a></div>